<div class="card">
  <header class="card-header post-header-color">
    <p class="post-header-color">
      {{title}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
  {{content}}      
    </div>
  </div>
  <div class="add-comment-section">   
    {{#if logged_in}} 
    <button class="is-small ml-1 mb-1 yellow-button is-rounded button add-comment-btn">Comment</button>
    <div class="send-comment-section hidden">
      <form class="px-3">
        <textarea class="textarea comment-content" placeholder="Write your comment here"></textarea>
        <button class="is-small ml-1 my-1 yellow-button is-rounded button send-comment-btn" data-post-id="{{id}}">Send</button>
      </form>
       {{/if}}
    </div>
</div>
</div>
<p class="mx-3 mb-3">Comments:</p>
{{#each comments as |comment|}}
<div class="display-comment-section">
<div class="mx-5 card">
  <header class="card-header comment-header-color">
    <p class="comment-header-color">
      Posted by: {{comment.user.username}}    
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
{{/each}}
<script src="/js/comment.js"></script>

